.listing-heading h1 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: palevioletred;
    margin-top: 20px;
}

.quizflexcontainer {
    background: white;
    /* margin: 7px 7px;*/
    padding: 6px;
    border-radius: 5px;
    border-radius: 5px;
    color: black;
    /* width: 500px;*/
}
.user-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    /* width: 500px;*/
    height: 9vh;
    border: 1px solid black;
    background-color: rgb(180, 230, 243);
}
.user-name {
    min-width: 45%;
    font-weight: bold;
}
.createdAt {
    min-width: 10%;
    font-weight: bold;
}
.user-score {
    min-width: 7%;
    font-weight: bold;
}
.total-score {
    min-width: 6%;
    font-weight: bold;
}
.listing-quiz {
    min-width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.listing-heading {
    text-align: center;
}

.quizzes {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
    /* border: 1px solid black;*/
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: #daecf1;*/
}
.quiz-detailes {
    background-color: rgb(180, 230, 243);
    margin: 50px 70px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    /*color: white;*/
    color: black;
    /* align-items: center;*/
    text-align: center;
    font-weight: bold;

    /* width: 500px;*/
}
