/* #root {
    width: 55vw;
    margin: 0 auto;
    text-align: center;
    border: 1px solid red;
} */
:root {
    --background-color: #b7e5ff;

}
body {
    background-color: white;
    margin: 0;
    padding: 0;
}
.quizTitle {
    color: black;
    background-color: var(--background-color);
    margin: 0;
    padding: 1% 0;
    text-align: center;
}
.userInfo{
    /* width: 50vw; */
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
}
.quizContainer {
    background-color: #d8dfe2;
    /* background-color: var(--background-color); */
    box-shadow: 1px 1px 5px 1px #022437 ;
    width: 50vw;
    /* height: 80vh; */
    text-align: center;
    margin: 0 auto;
    padding: 5% 3%;
}
.userCredentials{
    /* background-color: red; */
    width: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
}
#question {
    /* background-color: red; */
    color: black;
    min-height: 10vh;
    margin: 2% auto;
    padding: 0;
    text-align: left;
    font-size: 1.2rem;
}
.questionContainer{
    box-shadow: 1px 1px 4px 1px #022437;
}
.optionsContainer {
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    align-items: start;
    /* background-color: #ecc250; */
    padding: 2%;
}
.options{
    display: grid;
    grid-template-columns: auto auto ;
    /* column-gap:10%; */
    row-gap: 10px;
    align-items: start;
    text-align: left;
}
.optionRow1{
    margin-left: 30%;
    text-align: start;
}
.optionRow2{
    text-align: start;
}
.navigateButtons {
    margin: 2% auto 2% auto;
    display: flex;
    justify-content: center;
}
.submitButton {
    width: 40%;
}