.adminpage-container {
    /* background-color: beige;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.copyquizbutton {
    color: blue;
    background-color: rgb(240, 227, 230);
}

.create-btn-class {
    font-size: 20px;

    margin-top: 200px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 200px;
}
.quiz-title {
    padding: 2px;
    margin-left: 3px;
    margin-top: 15px;
    /*text-align:right;*/
    /*  text-align: center;*/
    color: rgb(42, 73, 165);
}

.copylink button {
    margin-top: 15px;
    margin-right: 2px;
    margin-bottom: 8px;
    padding: 2px;
    color: rgba(194, 41, 36, 0.708);
    border: 2px solid green;
    background-color: white;
}

.listing-quiz {
    background-color: rgb(214, 246, 239);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 280px;
    margin-right: 10px;
    /* margin-left: 2px;*/
    border-radius: 8px;
}
.quiz-list li {
    padding-left: 2px;
    display: none;
}

.quiz-list {
    width: 260px;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f4bef4;
    /* text-align: center;
    padding-bottom: 20px;*/
    border-radius: 15px;
    column-gap: 6px;
    margin-bottom: 10px;
    /* margin:1%;*/
}
.quizzes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 3%;
}

.listing-quiz_app {
    background-color: rgb(214, 246, 239);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 280px;
    margin-right: 10px;
}
.listing-heading {
    padding-left: 35px;
}
